Graphs API 2.3 obtainUserAccessToken

Hello,

Since v2.3 the obtainUserAccessToken method in the Graphs API returns a JSON instead of a key-value combination.

v2.2:
![image](https://cloud.githubusercontent.com/assets/10364108/7276801/a1dba2b8-e90c-11e4-8ee7-d5c48c953029.png)

v2.3:
![image](https://cloud.githubusercontent.com/assets/10364108/7276814/ae4ee9ec-e90c-11e4-9f0b-8cb57ff6b973.png)

Docs: https://developers.facebook.com/docs/facebook-login/manually-build-a-login-flow/v2.3

Stacktrace:
Caused by: java.lang.IllegalArgumentException: Was expecting a query string of the form 'access_token=XXX' or 'access_token=XXX&expires=YYY'.
 Instead, the query string was '{"access_token":"TOKEN_WAS_HERE","token_type":"bearer","expires_in":5167519}'

	at com.restfb.FacebookClient$AccessToken.fromQueryString(FacebookClient.java:589)
	at com.restfb.DefaultFacebookClient.obtainUserAccessToken(DefaultFacebookClient.java:716)

will this be patched and released soon?

I think a bugfix release is necessary. But I have to check the documentation. Perhaps Facebook changed more AccessToken methods, so we have to use a general solution.

Here's the part from the Facebook documentation, so we need a generic solution.

> [Oauth Access Token] Format - The response format of https://www.facebook.com/v2.3/oauth/access_token returned when you exchange a code for an access_token now return valid JSON instead of being URL encoded. The new format of this response is {“access_token”: <TOKEN>, “token_type”:<TYPE>, “expires_in”:<TIME>}. We made this update to be compliant with section 5.1 of RFC 6749.